.detailed text {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.detailed .name {
    font-weight: bold;
}

.link {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.additional-marriage {
    stroke-dasharray: 2;
}

.detailed rect {
    stroke: black;
}

.detailed {
    stroke-width: 2px;
}

.detailed .details {
    font-size: 10px;
}

.detailed .id {
    font-size: 10px;
    font-style: italic;
}

.detailed rect.nocolor {
    fill: #ffffff;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.bysex {
    fill: #eeeeee;
}

.detailed rect.bysex.male {
    fill: #dbffff;
}

.detailed rect.bysex.female {
    fill: #ffdbed;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.bygeneration {
    fill: #ffffdd;
}

.generation-11 .detailed rect.bygeneration,
.generation1 .detailed rect.bygeneration {
    fill: #edffdb;
}

.generation-10 .detailed rect.bygeneration,
.generation2 .detailed rect.bygeneration {
    fill: #dbffdb;
}

.generation-9 .detailed rect.bygeneration,
.generation3 .detailed rect.bygeneration {
    fill: #dbffed;
}

.generation-8 .detailed rect.bygeneration,
.generation4 .detailed rect.bygeneration {
    fill: #dbffff;
}

.generation-7 .detailed rect.bygeneration,
.generation5 .detailed rect.bygeneration {
    fill: #dbedff;
}

.generation-6 .detailed rect.bygeneration,
.generation6 .detailed rect.bygeneration {
    fill: #dbdbff;
}

.generation-5 .detailed rect.bygeneration,
.generation7 .detailed rect.bygeneration {
    fill: #eddbff;
}

.generation-4 .detailed rect.bygeneration,
.generation8 .detailed rect.bygeneration {
    fill: #ffdbff;
}

.generation-3 .detailed rect.bygeneration,
.generation9 .detailed rect.bygeneration {
    fill: #ffdbed;
}

.generation-2 .detailed rect.bygeneration,
.generation10 .detailed rect.bygeneration {
    fill: #ffdbdb;
}

.generation-1 .detailed rect.bygeneration,
.generation11 .detailed rect.bygeneration {
    fill: #ffeddb;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.bytribe {
    fill: #eeeeee;
}

.detailed rect.bytribe.tribe0 {
    fill: #ffffdd;
}

.detailed rect.bytribe.tribe1 {
    fill: #edffdb;
}

.detailed rect.bytribe.tribe2 {
    fill: #ffdbdb;
}

.detailed rect.bytribe.tribe3 {
    fill: #dbedff;
}


.detailed rect.bytribe.tribe4 {
    fill: #ffdbff;
}

.detailed rect.bytribe.tribe5 {
    fill: #eddbff;
}

.detailed rect.bytribe.tribe6 {
    fill: #dbffff;
}

.detailed rect.bytribe.tribe7 {
    fill: #dbdbff;
}

.detailed rect.bytribe.tribe8 {
    fill: #dbffdb;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.bylanguages {
    fill: #eeeeee;
}

.detailed rect.bylanguages.n1,
.detailed rect.bylanguages.l1 {
    fill: #ffffdd;
}

.detailed rect.bylanguages.n2,
.detailed rect.bylanguages.l2 {
    fill: #dbffdb;
}

.detailed rect.bylanguages.n3,
.detailed rect.bylanguages.l3 {
    fill: #ffeddb;
}

.detailed rect.bylanguages.n4,
.detailed rect.bylanguages.l4 {
    fill: #ffdbdb;
}

.detailed rect.bylanguages.n5,
.detailed rect.bylanguages.l5 {
    fill: #ffdbff;
}

.detailed rect.bylanguages.n6,
.detailed rect.bylanguages.l6 {
    fill: #dbdbff;
}

.detailed rect.bylanguages.n7,
.detailed rect.bylanguages.l7 {
    fill: #dbedff;
}
