.detailed text {
    font-family: verdana, arial, sans-serif;
    font-size: 12px;
}

.detailed .name {
    font-weight: bold;
}

div .ui.sub.header {
    margin-bottom: 14px; !important;
}

.link {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.additional-marriage {
    stroke-dasharray: 2;
}

.detailed rect {
    stroke: black;
}

.selected-stroke {
    stroke: gold !important;
}

.detailed {
    stroke-width: 2px;
}

.detailed .details {
    font-size: 10px;
}

.detailed .id {
    font-size: 10px;
    font-style: italic;
}

.detailed rect.nocolor {
    fill: #ffffff;
}

.detailed rect.bysex,
.detailed rect.byethnicity,
.detailed rect.bylanguages {
    fill: #eeeeee;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.bysex.male {
    fill: #dbffff;
}

.detailed rect.bysex.female {
    fill: #ffdbed;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.bygeneration,
.detailed rect.bylanguages.l1,
.detailed rect.bylanguages.l13 {
    fill: #ffffdd;
}

.generation-11 .detailed rect.bygeneration,
.generation1 .detailed rect.bygeneration,
.detailed rect.bylanguages.l2,
.detailed rect.bylanguages.l14 {
    fill: #edffdb;
}

.generation-10 .detailed rect.bygeneration,
.generation2 .detailed rect.bygeneration,
.detailed rect.bylanguages.l3,
.detailed rect.bylanguages.l15 {
    fill: #dbffdb;
}

.generation-9 .detailed rect.bygeneration,
.generation3 .detailed rect.bygeneration,
.detailed rect.bylanguages.l4,
.detailed rect.bylanguages.l16 {
    fill: #dbffed;
}

.generation-8 .detailed rect.bygeneration,
.generation4 .detailed rect.bygeneration,
.detailed rect.bylanguages.l5,
.detailed rect.bylanguages.l17 {
    fill: #dbffff;
}

.generation-7 .detailed rect.bygeneration,
.generation5 .detailed rect.bygeneration,
.detailed rect.bylanguages.l6,
.detailed rect.bylanguages.l18 {
    fill: #dbedff;
}

.generation-6 .detailed rect.bygeneration,
.generation6 .detailed rect.bygeneration,
.detailed rect.bylanguages.l7,
.detailed rect.bylanguages.l19 {
    fill: #dbdbff;
}

.generation-5 .detailed rect.bygeneration,
.generation7 .detailed rect.bygeneration,
.detailed rect.bylanguages.l8,
.detailed rect.bylanguages.l20 {
    fill: #eddbff;
}

.generation-4 .detailed rect.bygeneration,
.generation8 .detailed rect.bygeneration,
.detailed rect.bylanguages.l9,
.detailed rect.bylanguages.l21 {
    fill: #ffdbff;
}

.generation-3 .detailed rect.bygeneration,
.generation9 .detailed rect.bygeneration,
.detailed rect.bylanguages.l10,
.detailed rect.bylanguages.l22 {
    fill: #ffdbed;
}

.generation-2 .detailed rect.bygeneration,
.generation10 .detailed rect.bygeneration,
.detailed rect.bylanguages.l11,
.detailed rect.bylanguages.l23 {
    fill: #ffdbdb;
}

.generation-1 .detailed rect.bygeneration,
.generation11 .detailed rect.bygeneration,
.detailed rect.bylanguages.l12,
.detailed rect.bylanguages.l24 {
    fill: #ffeddb;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.bylanguages.n1 {
    fill: #dbedff;
}

.detailed rect.bylanguages.n2 {
    fill: #dbdbff;
}

.detailed rect.bylanguages.n3 {
    fill: #eddbff;
}

.detailed rect.bylanguages.n4 {
    fill: #ffdbff;
}

.detailed rect.bylanguages.n5 {
    fill: #ffdbed;
}

.detailed rect.bylanguages.n6 {
    fill: #ffdbdb;
}

.detailed rect.bylanguages.n7 {
    fill: #ffeddb;
}

/* ------------------------------------------------------------------------------------------------------------------ */
.detailed rect.byethnicity.ego {
    fill: #ffffdd;
}
.detailed rect.byethnicity.blanco {
    fill: #ffffff;
}
.detailed rect.byethnicity.afroamerican {
    fill: #e8d5bc;
}
.detailed rect.byethnicity.eth3 {
    fill: #dbffdb;
}
.detailed rect.byethnicity.eth4 {
    fill: #dbffff;
}
.detailed rect.byethnicity.eth5 {
    fill: #dbdbff;
}
.detailed rect.byethnicity.eth6 {
    fill: #ffdbff;
}
.detailed rect.byethnicity.eth7 {
    fill: #ffdbdb;
}
.detailed rect.byethnicity.eth8 {
    fill: #edffdb;
}
.detailed rect.byethnicity.eth9 {
    fill: #dbedff;
}
.detailed rect.byethnicity.eth10 {
    fill: #dbffed;
}
.detailed rect.byethnicity.eth11 {
    fill: #eddbff;
}
.detailed rect.byethnicity.eth12 {
    fill: #ffdbed;
}
.detailed rect.byethnicity.eth13 {
    fill: #ffeddb;
}
.detailed rect.byethnicity.eth14 {
    fill: #a8d5ba;
}

